<!-- TEST Category -->
<!-- <div *ngFor="let item of categories">
  <h2 (click)="handleSelectedCategory(item.id)">{{ item.name }}</h2>

</div>
Books by Category:
{{ booksByCategory | json }} -->

<div class="my-2 w-25 category-select">
  <h3>Categories :</h3>
  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" (change)="filter($event)">
    <option value="All" selected>All</option>
    <option value="{{option.id}}" *ngFor="let option of Categories">{{option.name}}</option>
  </select>
</div>

<div class="books" *ngIf="!loading">
  <div class="card-b" *ngFor="let book of books">
    <app-book [data]="book" (item)="addToCart($event)"></app-book>
  </div>
</div>

<!-- pagination -->
<div class="pagination">
  <button class="btn active">1</button>
  <button class="btn">2</button>
  <button class="btn">3</button>
  <button class="btn">4</button>
  <button class="btn">5</button>
</div>

 <!-- show the spinner if the loading is true -->
<div class="text-center w-100" *ngIf="loading" style="margin: 100px auto;
">
<app-spinner></app-spinner>
</div>




