<!-- <p>checkout works!</p> -->

<!-- <ng-container *ngIf="purchaseActionResponse"> -->
  <!-- <h2>{{ purchaseActionResponse }}</h2>
</ng-container> -->

<!-- <button (click)="confirmOrder()">Confirm Order</button>

<button (click)="toProductsPage()">take me to products page</button>-->

<section class="component">
  <div class="credit-card">

    <div class="confirmed">
      <img src="../../assets/imgs/confirm.png" style="width:50px" />
      <h2>{{ purchaseActionResponse }}</h2>
    </div>

    <!-- <form> -->
      <button (click)="confirmOrder()" type="submit" class="valid-button btn btn-info">CONFIRM ORDER</button>
      <a href="" class="valid-button btn btn-info"  routerLink="/home-allBooks">Take me to Books Page</a>      <!-- </form> -->
    </div>
  </section>

