<div class="user-header d-flex">
  <img src="../../../assets/imgs/book.png" alt="" />
  <h4>Book Details</h4>
</div>

<div class="cont d-flex justify-content-center">
  <div class="card mb-3" style="max-width: 75%">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img
          [src]="book.image"
          class="card-img"
          style="padding: 15%"
          alt="..."
        />
        <a
          href="#"
          class="btn btn-danger back-btn"
          style="
            margin-left: 17%;
            margin-bottom: 10%;
            color: rgb(255, 254, 171);
          "
          routerLink="/home-allBooks"
          ><i class="fa fa-angle-left"></i> More Books
        </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title display-6 fw-bolder">{{ book.title }}</h5>
            <p class="card-text">
              <small class="text-muted">{{ book.category }}</small>
            </p>
          </div>

          <div class="infoo">
            <div class="sub-info">
              <span class="subtitle">Author : </span>{{ book.authorName }}
            </div>
            <div class="sub-info">
              <span class="subtitle">Publisher : </span>{{ book.publisherName }}
            </div>

            <div class="fs-5 mb-5">
              <h5 class="price">$ {{ book.price }}</h5>
            </div>
          </div>

          <hr class="hr-text" data-content="About The Book" />
          <p class="card-text" style="margin-bottom: 20px">
            Some book info (metadata) is required and will be filled in by
            default when you create your book. Required metadata allows
            Pressbooks to build your book’s home page, automatically generate
            the cover, title page, and copyright notice in your book exports,
            and meet the metadata requirements of ebook sellers for your EPUB
            exports. In general, we recommend adding as much information as you
            can when creating your book.
          </p>

          <!-- <div
            *ngIf="addButton"
            class="d-flex select-quantity"
            style="justify-content: space-between; gap: 40px"
          >
            <button class="btn btn-danger" (click)="decrementQuantity()">
              -
            </button>
            
            <span class="quantity" type="text">{{ quantity }}</span>
            <button class="btn btn-success" (click)="incrementQuantity()">
              +
            </button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
