.user-header{
  text-align: center;
  background-color: #fff;
  width: 200px;
  margin: 20px auto;
  border-radius: 10px;
  padding: 8px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  &::after{
    position: absolute;
    content: "";
    width: 4px;
    height: 53px;
    background-color: green;
    top: -21px;
    z-index: -1;
  }
  img{
    width: 30px;
  }
}

.box{
  .card{
    max-width: 100% !important;
    .row{
      img{
        width: 280px;
        padding: 40px;
      }
      .card-body{
        padding: 40px;
        span{
          background-color: #fa7f74;
          color: #fff;
          padding: 2px;
          border-radius: 5px;
        }
        .btn{
          padding: 0;
          button{
            padding: 0px;
            width: 95px;
            background: #8BC34A;
            border: none;
          }
        }
        .rating{
          margin-top:20px;
          .rate-icon{
            .fa-star,.fa-star-half-stroke{
              color: #FF9800;
            }
          }
        }
      }
      .Description{
        padding: 40px;
        p{
          font-size: 14px;
          color: #607D8B;
        }
        p::first-letter{
          font-size: 200%;
          color: #8A2BE2;
        }
      }
    }
  }
}
