<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>

<button class="btn btn-success" style="margin-top: 2%" (click)="open(mymodal)">
  Add Book
</button>

<div class="carts">
  <ng-container>
    <ng-container>
      <table id="cart" class="table table-condensed">
        <thead>
          <tr>
            <th style="width: 20%">Image</th>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Author</th>
            <th style="width: 15%">Publisher</th>
            <th style="width: 15%">Category</th>
            <th style="width: 15%">Price</th>

            <th style="width: 15%"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of books | paginate : { itemsPerPage: 5, currentPage: p }
            "
          >
            <td data-th="Product">
              <div class="row d-flex" style="flex-direction: column-reverse">
                <div class="col-sm-2 hidden-xs">
                  <img
                    src="{{ item.image }}"
                    alt="..."
                    class="img-responsive"
                    style="height: 100px; border-radius: 10px; width: 161px"
                  />
                </div>
              </div>
            </td>
            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px" class="nomargin">
                  {{ item.title }}
                </h4>
              </div>
            </td>
            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px" class="nomargin">
                  {{ item.authorName }}
                </h4>
              </div>
            </td>
            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px" class="nomargin">
                  {{ item.publisherName }}
                </h4>
              </div>
            </td>

            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px; color: grey" class="nomargin">
                  {{ item.category }}
                </h4>
              </div>
            </td>

            <td data-th="Price">{{ item.price | currency }}</td>

            <td>
              <button class="btn btn-danger" style="margin-top: 10%" (click)="Delete(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <ng-container>
            <tr>
              <td>
                <a
                  href="#"
                  class="btn btn-danger back-btn"
                  style="
                    margin-left: 1%;
                    margin-bottom: 1%;
                    color: rgb(255, 254, 171);
                    border: none;
                  "
                  routerLink="/home-allBooks"
                  ><i class="fa fa-angle-left"></i> Go To All Books
                </a>
              </td>

              <td colspan="4">
                <div class="d-flex justify-content-center pagination">
                  <pagination-controls
                    (pageChange)="p = $event"
                  ></pagination-controls>
                </div>
              </td>

              <td colspan="1" class="hidden-xs"></td>
            </tr>
          </ng-container>
        </tfoot>
      </table>
    </ng-container>
  </ng-container>
</div>

<!-- Modal -->
<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Book</h4>

    <button
      type="button"
      class="close btn-danger"
      style="background-color: rgb(207, 61, 61); color: aliceblue"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">Discard</span>
    </button>
  </div>

  <div class="modal-body">Image</div>
  <div class="modal-body">Title</div>
  <div class="modal-body">Author</div>
  <div class="modal-body">Publisher</div>
  <div class="modal-body">Category</div>
  <div class="modal-body">Price</div>

  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('Save click')"
    >
      Add
    </button>
  </div>
</ng-template>
