<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<button class="btn success" (click)="open(AddModual)">Add Book</button>

<div class="carts">
  <ng-container>
    <ng-container>
      <table id="cart" class="table table-condensed">
        <thead>
          <tr>
            <th style="width: 20%">Image</th>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Author</th>
            <th style="width: 15%">Publisher</th>
            <th style="width: 15%">Category</th>
            <th style="width: 15%">Price</th>

            <th style="width: 15%"></th>
            <th style="width: 15%">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let item of books | paginate : { itemsPerPage: 5, currentPage: p }
            "
          >
            <td data-th="Product">
              <div class="row d-flex" style="flex-direction: column-reverse">
                <div class="col-sm-2 hidden-xs">
                  <img
                    src="{{ item.image }}"
                    alt="..."
                    class="img-responsive"
                    style="height: 100px; border-radius: 10px; width: 161px"
                  />
                </div>
              </div>
            </td>
            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px" class="nomargin">
                  {{ item.title }}
                </h4>
              </div>
            </td>
            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px" class="nomargin">
                  {{ item.authorName }}
                </h4>
              </div>
            </td>
            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px" class="nomargin">
                  {{ item.publisherName }}
                </h4>
              </div>
            </td>

            <td>
              <div class="col-sm-10">
                <h4 style="font-size: 18px; color: grey" class="nomargin">
                  {{ item.category }}
                </h4>
              </div>
            </td>

            <td data-th="Price">{{ item.price | currency }}</td>
            <td >
              <a
               class="btn btn-danger"
               style="margin-top: 10%"
               (click)="open(EditModual)">
                <img src="../../../assets/imgs/edit.png" style="width:50px"   >
              </a>
            </td>

            <!-- Delete Book-->
            <td>
              <button class="btn btn-danger" style="margin-top: 10%" (click)="Delete(item.id)">
               <img src="../../../assets/imgs/trash.png" style="width:50px" alt="">
              </button>
            </td>

          </tr>
        </tbody>
        <tfoot>
          <ng-container>
            <tr>
              <td>
                <a
                  href="#"
                  class="btn btn-danger back-btn"
                  routerLink="/home-allBooks"
                  ><i class="fa fa-angle-left"></i> Go To All Books
                </a>
              </td>

              <td colspan="4">
                <div class="d-flex justify-content-center pagination">
                  <pagination-controls
                    (pageChange)="p = $event"
                  ></pagination-controls>
                </div>
              </td>

              <td colspan="1" class="hidden-xs"></td>
            </tr>
          </ng-container>
        </tfoot>
      </table>
    </ng-container>
  </ng-container>
</div>

<!-- Modal add new book-->
<ng-template #AddModual let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Book</h4>

    <!-- dismiss button -->
    <button
      type="button"
      class="close danger"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">X</span>
    </button>

  </div>

  <!-- Form -->
  <form [formGroup]="bookForm"
  (ngSubmit)="createBook()"
   style="width: 460px;
  margin: 1px auto;">
  <div class="mb-3">
    <label for="Title" class="form-label">Book Title</label>
    <input type="text" class="form-control" name="title" formControlName="title">
  </div>
  <div class="mb-3">
    <label for="Isban" class="form-label">Isbn</label>
    <input type="number" class="form-control" name="isbn" formControlName="isbn">
  </div>
  <div class="mb-3">
    <label for="Price" class="form-label">Price</label>
    <input type="number" class="form-control" name="price" formControlName="price">
  </div>
  <div class="mb-3 form-check">
    <label class="form-label" for="img">Image</label>
    <input type="file" class="form-control" name="image" formControlName="image">
  </div>
  <!-- <div class="mb-3">
    <label for="publisher" class="form-label">PublisherId</label>
    <input type="number" class="form-control" name="publisherId" formControlName="publisherId">
  </div> -->
  <!-- <div class="mb-3">
    <label for="authorId" class="form-label">AuthorId</label>
    <input type="number" class="form-control" name="authorId" formControlName="authorId">
  </div>
  <div class="mb-3">
    <label for="typeId" class="form-label">TypeId</label>
    <input type="number" class="form-control" name="typeId" formControlName="typeId">
  </div> -->

  <!--Add button -->
  <div class="modal-footer">
    <button
      type="submit"
      class="btn success"
      (click)="modal.close('Save click')"
    >
      Create Book
    </button>
  </div>
</form>
</ng-template>
<!-- Modal Edit new book-->
<ng-template #EditModual let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Book</h4>

    <!-- dismiss button -->
    <button
      type="button"
      class="close btn-danger"
      style="background-color: rgb(207, 61, 61); color: aliceblue"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">Discard</span>
    </button>

  </div>

  <!-- Form -->
  <form style="width: 460px;
  margin: 1px auto;">
  <div class="mb-3">
    <label for="Title" class="form-label">Title</label>
    <input type="text" class="form-control" id="Title" >
  </div>
  <div class="mb-3">
    <label for="Isban" class="form-label">Isbn</label>
    <input type="number" class="form-control" id="password">
  </div>
  <div class="mb-3">
    <label for="Isban" class="form-label">Price</label>
    <input type="number" class="form-control" id="isban">
  </div>
  <div class="mb-3 form-check">
    <label class="form-label" for="img">Image</label>
    <input type="file" class="form-control" id="img">
  </div>
  <!-- <div class="mb-3">
    <label for="publisher" class="form-label">PublisherId</label>
    <input type="number" class="form-control" id="publisher">
  </div>
  <div class="mb-3">
    <label for="AuthorId" class="form-label">AuthorId</label>
    <input type="number" class="form-control" id="AuthorId">
  </div>
  <div class="mb-3">
    <label for="TypeId" class="form-label">TypeId</label>
    <input type="number" class="form-control" id="TypeId">
  </div> -->
  <button type="submit" class="btn btn-primary" (click)="modal.close('Save click')">Update</button>
</form>


  <!--Add button -->
  <!-- <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close('Save click')"
    >
      Add
    </button>
  </div> -->
</ng-template>
