<div class="user-header d-flex">
  <img src="../../../assets/imgs/book.png" alt="">
 <h4>Log In</h4>
</div>

<!--  Start LogIng -->
<div class="log-page d-flex gap-5">
  <form [formGroup]="service.logform" class="form-login pt-5 pb-5" (ngSubmit)="login()">
    <!-- Start User Name -->
    <div class="form-group">
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="username?.invalid && username?.touched"
        formControlName="username"
        name="username"
        placeholder="username"
      />
      <div *ngIf="username?.invalid && username?.touched" class="alert">
        <small class="text-danger" *ngIf="username?.errors?.['required']"
          >username is required!</small>
          <small class="text-danger" *ngIf="username?.errors?.['pattern']">
            username must contains only capital,
             and small characters</small>
      </div>
    </div>
    <!-- End User Name -->

    <!-- Start password -->
    <div class="form-group">

      <input
        type="password"
        class="form-control"
        [class.is-invalid]="password?.invalid && password?.touched"
        formControlName="password"
        name="password"

        placeholder="password"
      />
      <div *ngIf="password?.invalid && password?.touched" class="alert">
        <small class="text-danger" *ngIf="password?.errors?.['required']"
          >password is required!</small
        >
        <small class="text-danger" *ngIf="password?.errors?.['pattern']"
          >password must contains only capital,small characters and numbers
          </small
        >
      </div>
    </div>
    <!-- End password -->

     <!-- Start buttons when invalid -->

    <div class="buttons">
          <div *ngIf=" service.logform.invalid; then thenBlock; else elseBlock"></div>
          <div class="box">
            <ng-template #thenBlock>
              <input type="submit" disabled
              class="btn btn-danger button-color"
              value="Login"
              style="width: 55%;  font-weight: 600; color: #fff;"
              >
            </ng-template>
          </div>
          <div class="box">
            <ng-template #elseBlock>
              <input type="submit"
              class="btn success"
              value="Login"
              style="width: 55%;  font-weight: 600; background-color: aqua;">
            </ng-template>
          </div>
          <div class="box">
            <div class="text-muted">
            Don't have account?
         <a  class="text-decoration-none"
             routerLink="/register"
           > Register
         </a>
          </div>
          </div>
     </div>
     <!-- ENd buttons when invalid -->






  </form>
  <div class="img">
    <img src="../././../../assets/imgs/sitting-reading.png" alt="" />
  </div>
</div>
<!--  ENd LogIng -->
