@import '../../../paleetTheme.scss';
.user-header{
    text-align: center;
    background-color: theme-colors(c-white);
    width: 200px;
    margin: 20px auto;
    border-radius: 10px;
    padding: 8px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    &::after{
      position: absolute;
      content: "";
      width: 4px;
      height: 53px;
      background-color: theme-colors(secondary);

      top: -21px;
      z-index: -1;
    }
    img{
      width: 30px;
    }
}
.log-page{
  align-items: center;
  .form-login{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
      margin: 1px auto;
      @media (max-width:991px ){
        width: 100%;
      }
  }
  .img{
    position: relative;
    width: 50%;
    transition: 0.3s;
    animation: goUpDown 2s linear infinite;
    -webkit-animation: goUpDown 2s linear infinite;
    animation-direction: alternate;
    img{
      width: 100%;
    }
    @media (max-width:991px ){
      display:none
    }
  }
}

.buttons{
  display: flex;
    justify-content: space-between;
    align-items: center;
    .box{
      .success{
      background-color: theme-colors(secondary);
      }
    }
}
.alert{
  background-color: theme-colors(red-400);
  color: theme-colors(c-white);
  font-weight: bold;
  padding: 10px;
}
@keyframes goUpDown {
  from {
    bottom: 60px;
  }
  to {
    bottom: 100px;
  }
}
