<!-- Start Home Childe books -->
<!-- <div class="box"> -->
<img
  [src]="product.image"
  class="card-img-top image-book"
  routerLink="/bookDetails/{{ product.id }}"
/>
<div class="c-title">
  <h2 class="title">{{ product.title }}</h2>
</div>

<div class="info d-flex">
  <p class="author">
    {{ product.authorName }}
  </p>
  <p class="text-muted category">{{ product.category }}</p>
</div>

<div class="price-detail d-flex">
   <p class="price">{{ product.price }}$</p>
  <a
    class="view-details"
    routerLink="/bookDetails/{{ product.id }}"
  >
    <i class="fa-solid fa-circle-info fa-lg"></i>
    <span>View Details</span>
  </a>
</div>
<div class="cart-buttons">
  <div class="button" *ngIf="!addButton" (click)="addButton = true">
    <a class="btn btn-success clk" (click)="addToCart(product)">
      <i class="fa-solid fa-cart-shopping"></i>
    </a>
  </div>

  <div
    *ngIf="addButton"
    class="d-flex select-quantity">
    <button class="btn minus" (click)="decrementQuantity()">-</button>
    <span class="quantity" type="text">{{ quantity }}</span>
    <button class="btn plus" (click)="incrementQuantity()">+</button>
  </div>
</div>
<!-- </div> -->
<!-- Start Home Childe books -->
