
  .c-body {
      padding: 5px 13px;
      .title {
        font-weight: bold;
        font-size: 13px;
      }
      .price {
        font-size: 25px;
        font-weight: bold;
        color: #eecb1d
      }
    }

    .info {
      padding: 20px;

      .button {
        display: flex;
        justify-content: space-around;
      }
      .select-quantity {
        .quantity {
          background: #607d8b;
          /* padding: 10px; */
          border-radius: 50%;
          width: 50px;
          height: 50px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #fff;
          font-weight: bold;
        }
        button {
          font-size: 20px;
          font-weight: bold;
        }
      }
    }

.clk {
  background-color: #ef5553 !important;
  border: none;
}
.clk:hover {
  background-color: #521f1e !important;
}

@keyframes slide {
  100% {
    transform: translateX(10px);
  }
}
