.site-header{
  background-color: #212529;
.container{
  .logo{
    width: 100%;
    img{
      width: 60px;
      @media (max-width:771px) {
        display: none;
      }
    }
  }
  align-items: center;
  a{
    color: #999;
    transition: ease-in-out color .15s;
    text-decoration: none;
    transition: 0.3s;
    border: 1px solid transparent;
    padding: 0px 23px;
    &:hover{
      color: var(--bs-link-color);
      border: 1px solid #999;
      color: #fff;
      border-radius: 3px;
      box-shadow: inset -13px 0px 0px 0px rgba(245, 6, 6, 0.3);
    }
  }
  .cart{
    a{
      position: relative;
      span:after{
        content: "0";
        position: absolute;
        color: red;
        font-weight: bold;
        top: 0;
        left: 32px;
      }
    }
  }
}
}
