<nav class="site-header sticky-top">
  <div class="container d-flex flex-column flex-md-row justify-content-between">
    <div class="logo" routerLink="/home-allBooks">
      <img
        src="./../../../assets/imgs/artificial-intelligence.png"
        alt="logo"
      />
    </div>
    <div class="links d-flex">
      <a class="py-2 d-md-inline-block" routerLink="/home-allBooks">Books</a>

      <!-- start Links Unauth -->
      <div *ngIf="userService.isAuthenticated(); then auth; else unauth"></div>
      <ng-template #unauth>
        <a class="py-2 d-md-inline-block" routerLink="/login">Login</a>
        <a class="py-2 d-md-inline-block" routerLink="/register">Register</a>
      </ng-template>
      <!-- End Links Unauth -->

      <!-- start Links auth -->

      <ng-template #auth>
        <a class="py-2 d-md-inline-block admin">
          <span class="text-light"
            >{{ userService.account_data.username }}</span
          >
        </a>

        <a *ngIf="userService.account_data.role == 'Administrator'"
         class="py-2 d-md-inline-block text-primary"
         routerLink="/admin-control"
          >Admin Dashboard</a
        >

        <a
          class="py-2 d-md-inline-block "
          routerLink="/login"
          (click)="userService.removeToken()"
          >Logout</a
        >
      </ng-template>
    <!-- End Links auth -->

        <!-- start Counter notification -->
      <div class="cart d-flex">
        <a class="py-2 d-md-inline-block" routerLink="/cart">
          <i class="fa-solid fa-cart-arrow-down fa-lg"></i>
          <ng-container *ngIf="selectedItemsCount$ | async as count">
            <span class="count" *ngIf="count > 0">{{ count }}</span>
          </ng-container>
        </a>
      </div>
        <!-- End Counter notification -->

    </div>
  </div>
</nav>
