.site-header{
  background-color: black;
  a{
    color: #999;
    transition: ease-in-out color .15s;
    text-decoration: none;
    &:hover{
      color: var(--bs-link-color);

    }
  }
  .cart{
    a{
      position: relative;
      span:after{
        content: "0";
        position: absolute;
        color: red;
        font-weight: bold;
        top: 0;
        left: 9px;
      }
    }
  }
}
