<div class="user-header d-flex">
  <img src="../../../assets/imgs/book.png" alt="">
 <h4>Sing Up</h4>
</div>
<br />
<div class="reg-page d-flex gap-5">
    <form [formGroup]="service.regform" (ngSubmit)="register()" class="form-signup pt-5 pb-5">
    <div class="form-group">
      <!-- <label for="name">UserName  </label> -->
      <input
        type="text"
        class="form-control"
        [class.is-invalid]="username?.invalid && username?.touched"
        formControlName="username"
        name="username"
        placeholder="username"
      />
      <div *ngIf="username?.invalid && username?.touched">
        <small class="text-danger" *ngIf="username?.errors?.['required']"
          >username is required!</small>
          <small class="text-danger" *ngIf="username?.errors?.['pattern']">username must contains only capital,
             and small characters</small>
      </div>
    </div>

    <div class="form-group">
      <!-- <label>Phone Number </label> -->
      <input type="tel" name="txtPhone"
       [class.is-invalid]="phone?.invalid&&phone?.touched"
      formControlName="phone" name="phone"
      class="form-control"
      placeholder="phone number"
      >

     <div *ngIf="phone?.errors && phone?.touched">
      <small class="text-danger" *ngIf="phone?.errors?.['required']">Phone is reuired!</small>
      <small class="text-danger" *ngIf="phone?.errors?.['pattern']">Phone must be at least 11 digit!</small>
     </div>
  </div>

    <div class="form-group">
      <!-- <label for="email">Email </label> -->
      <input
        type="email"
        class="form-control"
        [class.is-invalid]="email?.invalid && email?.touched"
        formControlName="email"
        name="email"
        placeholder="email"
      />

      <div *ngIf="email?.invalid && email?.touched">
        <small class="text-danger" *ngIf="email?.errors?.['required']"
          >email is required!</small>
          <small class="text-danger" *ngIf="email?.errors?.['pattern']">
            email must contains @ and . in the format (user@example.com)</small>
      </div>
    </div>
    <div class="form-group">
      <!-- <label for="pass">Password  </label> -->
      <input
        type="password"
        class="form-control"
        [class.is-invalid]="password?.invalid && password?.touched"
        formControlName="password"
        name="password"
        placeholder="password"
      />
      <div *ngIf="password?.invalid && password?.touched">
        <small class="text-danger" *ngIf="password?.errors?.['required']"
          >password is required!</small
        >
      </div>
    </div>
    <div class="form-group">
      <!-- <label for="confirmpassword">Confirm Password </label> -->
      <input
        type="password"
        class="form-control"
        [class.is-invalid]="confirmpassword?.invalid && confirmpassword?.touched"
        formControlName="confirmpassword"
        name="confirmpassword"
        placeholder="confirm password"
      />
      <div *ngIf="confirmpassword?.invalid && confirmpassword?.touched">
        <small class="text-danger" *ngIf="confirmpassword?.errors?.['required']"
          >confirm password is required!</small>
      </div>
      <small class="text-danger" *ngIf="service.regform.errors?.['misMatch']"
        >doesn't match password!</small>
    </div>

    <div *ngIf=" service.regform.invalid; then thenBlock; else elseBlock"></div>
            <ng-template #thenBlock>
              <input type="submit" disabled
              class="btn btn-success button-color"
               value="Register"
               style="width: 55%; margin: 5% 20%; font-weight: 600;"
                />
            </ng-template>

            <ng-template #elseBlock>
              <input type="submit"
              class="btn btn-success"
               value="Register"
               style="width: 55%; font-weight: 600;"
              />
            </ng-template>

  </form>
  <div class="img">
    <img src="../././../../assets/imgs/chilling.png" alt="" />
  </div>
</div>
