<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="carts">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width: 50%">Your Books</th>
        <th style="width: 10%">Price</th>
        <th style="width: 8%">Quantity</th>
        <th style="width: 22%" class="text-center">Subtotal</th>
        <th style="width: 10%"></th>
      </tr>
    </thead>
    <tbody>

<ng-container *ngIf="chosenCartItems$ | async as selectedItems">
  <tr *ngFor="let item of selectedItems">
    <td data-th="Product">
          <div class="row d-flex" style="flex-direction: column-reverse">
            <div class="col-sm-2 hidden-xs">
              <img
                src="{{ item.imageSrc }}"
                alt="..."
                class="img-responsive"
                style="height: 100px; border-radius: 10px; width: 161px"
              />
            </div>
            <div class="col-sm-10">
              <h4 style="font-size: 18px; color: blue" class="nomargin">
                {{ item.name }}
              </h4>
            </div>
          </div>
        </td>
        <td data-th="Price">{{ item.price | currency }} $</td>
        <td data-th="Quantity" class="d-flex gap-2">
          <button class="btn btn-success">+</button>
          <input
            type="number"
            class="form-control text-center"
            [(ngModel)]="item.quantity"
            value="1"
            style="width: 100px"
          />
          <button class="btn btn-danger">-</button>
        </td>
        <td data-th="Subtotal" class="text-center">
          {{ item.price * item.quantity }} $
        </td>
        <td>
          <button class="btn btn-danger" (click)="removeItemFromCart(item)">Delete</button>
        </td>
      </tr>
    </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <td>
          <a href="#" class="btn btn-warning"
            ><i class="fa fa-angle-left"></i> Continue Shopping</a
          >
        </td>
        <td colspan="2" class="hidden-xs"></td>
        <td class="hidden-xs text-center">
          <!-- <strong>Total : {{ total }} $</strong> -->
        </td>
        <td>
          <a  class="btn btn-success d-flex" style="gap: 10px;
          align-items: center;">
            <button (click)="toCheckoutPage()">Confirm my Orders</button>
            <i class="fa fa-angle-right"></i>
        </a>
        </td>
      </tr>
    </tfoot>
  </table>
<!-- <button (click)="toCheckoutPage()">Confirm my Orders</button> -->

</div>

