<link
  href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<!-- Start Cart Selected-->
<div class="carts">
  <ng-container *ngIf="chosenCartItems$ | async as selectedItems">
    <ng-container
      *ngIf="(chosenCartItems$ | async)?.length !== 0; else cartIsEmptyMessage"
    >
      <table id="cart" class="table table-condensed">
        <thead>
          <tr>
            <th style="width: 50%">Your Books</th>
            <th style="width: 10%">Price</th>
            <th style="width: 8%">Quantity</th>
            <th style="width: 22%" class="text-center">Subtotal</th>
            <th style="width: 22%" class="text-center">
              <button
                (click)="clearCart()"
                class="btn btn-danger text-white"
                style="width: 161px"
              >
                Clear Cart
              </button>
            </th>
            <th style="width: 10%"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of selectedItems">
            <!-- Start Img book -->
            <td data-th="Product">
              <div class="row d-flex img-detail">
                <div class="col-sm-2 hidden-xs">
                  <img
                    src="{{ item.image }}"
                    alt="..."
                    class="img-responsive"
                  />
                </div>
                <div class="col-sm-10">
                  <h4 style="font-size: 18px; color: blue" class="nomargin">
                    {{ item.title }}
                  </h4>
                </div>
              </div>
            </td>
            <!-- ENd Img book -->
            <!--Start Price-->
            <td data-th="Price" class="price">{{ item.price | currency }}</td>
            <!--End Price-->

            <!--Start Quantity-->
            <td
              data-th="Quantity"
              class="d-flex gap-2"
              style="margin-top: 50px; border-bottom: 0"
            >
            <button [disabled]="item.quantity === 1" class="btn danger" (click)="decrementQuantity(item)">
              -
            </button>
              <span class="form-control text-center">{{ item.quantity }}</span>
              <button class="btn success" (click)="incrementQuantity(item)">
                +
              </button>
            </td>
            <!--End Quantity-->

            <!--Start Subtotal-->
            <td data-th="Subtotal" class="text-center subtotal">
              <span class="subtotal">{{
                item.price * item.quantity | currency
              }}</span>
            </td>
            <!--Start Subtotal-->

            <!--Start Delete Button-->
            <td>
              <button class="btn bt-delete" (click)="removeItemFromCart(item)">
                <img src="../../assets/imgs/trash.png" alt="" />
              </button>
            </td>
            <!--End Delete Button-->
          </tr>
        </tbody>
        <!--Start Table Footer-->
        <tfoot>
          <ng-container *ngIf="chosenCartItems$ | async as selectedItems">
            <tr>
              <td  colspan="2" class="text-right">
                <div class="my-3">
                  <h3 class="text-muted">Total Amount</h3>
                  <h5 class="">
                    {{ getTotalAmount(selectedItems) | currency }}
                  </h5>
                </div>
              </td>
            </tr>
            <tr>
              <!--Start Continue Shopping-->
              <td>
                <a
                  href="#"
                  class="btn back-btn"
                  style=""
                  routerLink="/home-allBooks"
                  ><i class="fa fa-angle-left"></i> Continue Shopping
                </a>
              </td>
              <!--End Continue Shopping-->

              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center">
                <!-- <strong>Total : $</strong> -->
              </td>
              <td>
                <!--Start Confirm Button-->
                <a>
                  <button
                    [disabled]="selectedItems.length === 0"
                    (click)="toCheckoutPage()"
                    class="btn success"
                    style="width: 161px"
                  >
                    Confirm my Orders
                  </button>
                  <i class="fa fa-angle-right"></i>
                </a>
                <!--End Confirm Button-->
              </td>
            </tr>
          </ng-container>
        </tfoot>
        <!--ENd Table Footer-->
      </table>
    </ng-container>
  </ng-container>
</div>
<!-- End Cart Selected-->

<!-- Start When empty-->
<ng-template #cartIsEmptyMessage>
  <div class="container-fluid" style="margin-top: 80px">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h5>Cart</h5>
          </div>
          <div class="card-body cart" style="margin-top: 50px">
            <div class="col-sm-12 empty-cart-cls text-center">
              <!-- CART IMAGE -->
              <img
                src="https://i.imgur.com/dCdflKN.png"
                width="150"
                height="150"
                class="img-fluid mb-4 mr-4"
              />
              <h2 class=""><strong>Your Cart is Empty</strong></h2>
              <p>Add something to make me happy :</p>
              <a
                href="#"
                class="btn btn-danger back-btn"
                style="
                  margin-left: 1%;
                  margin-bottom: 1%;
                  color: rgb(255, 254, 171);
                  border: none;
                "
                routerLink="/home-allBooks"
                ><i class="fa fa-angle-left"></i> Continue Shopping
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<!-- Start When empty  -->
